<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="alien" class="course.udemy.SpringDemo.Alien" autowire="byType">
	<property name="age" value="12"></property>
	<!-- <property name="lap" ref="desktop"></property> -->
	<!-- <constructor-arg value="15"></constructor-arg> -->
	<!-- <property name="lap" ref="laptop"></property> -->
</bean>

<bean id="laptop" class="course.udemy.SpringDemo.Laptop" primary="true">
	
</bean>
<bean id="desktop" class="course.udemy.SpringDemo.Desktop">
	
</bean>

</beans>
